/*Some necessary adjustments*/
h1, body, html, main {
  margin: 0;
}
/*Import the font and set the default size*/
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px
}

#s1{
  background-image: url("/french-soup/images/soup.jpg");
  background-position: center;
  background-size: cover;
  height: 700px;
  margin-top: -100px;
  text-align: center;
  
}

h1{
  color:white;
  font-size:  80px;
  text-align: center;
  padding-top: 240px;
}

#s2{
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 20px;
  margin-top: 50px;
}

#s3{
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
  padding-right: 20px;
  margin-top: 50px;
}
#s4{
  text-align: left;
  font-size: 25px;
  padding-left: 50px;
  margin-top: 50px;
  margin-bottom: 100px;
}

#cooking{
  margin-left: 350px;
  margin-bottom: 20px;
}

#recipe{
margin-left: 350px;
margin-bottom: 20px;
}

ul{
  padding-left: 20px;
}

ol{
  padding-left: 0px;
}

ul li::marker{content:"- ";
}

ol {
list-style: none;
counter-reset: my-awesome-counter;
}
ol li {
counter-increment: my-awesome-counter;
}
ol li::before {
content: counter(my-awesome-counter) ") ";
}
